/*TODO: Clean up code */
/*TODO: Study confusing list block*/
body {
  background: rgb(61, 90, 128);
}

.content {
  width: 95%;
  margin: auto;
  background: rgb(135, 211, 248);
  box-shadow:
    -5px 0px 7px 1px #333,
    5px 0px 7px 1px #333;
}

hr {
  height: 2px;
  background-color: #902d41;
  border-color: #902d41;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
  margin-top: 30px;
  box-shadow: 0 1px 2px 1px #333;
}
.featured-image {
  margin: auto;
  width: 50%;
  float: right;
  max-width: 600px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border: 3px solid #902d41;
  border-radius: 5px;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.23),
    0 6px 6px rgba(0, 0, 0, 0.19);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.ribbon {
  display: flex;
  margin-bottom: -1%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  justify-content: center;
}

.icons {
  max-width: 100px;
}

.main-text {
  margin: 2%;
  font-size: 18px;
}

.article-head {
  font-size: 32px;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: auto;
  margin-bottom: -10px;
}

.button {
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow:
    0 5px #666,
    0 7px 5px #666;
  background-color: #b6d094;
  transform: translateY(4px);
}

@media screen and (max-width: 600px) {
  button {
    padding: 10px 20px;
    font-size: 14px;
  }
  .logo {
    width: 100%;
  }
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a:link,
a:visited {
  color: black;
}

a:active {
  color: #902d41;
}
a:hover {
  color: rgb(61, 90, 128);
}

ul {
  list-style-type: none;
  width: 45%;
}

li {
  position: relative;
  padding-right: 50px;
  margin: 5%;
}

li.excel {
  position: relative;
}

li.excel::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("excel.png") no-repeat;
  background-size: contain;
  margin-right: 10px;
}

li.access {
  position: relative;
}

li.access::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  background: url("access.png") no-repeat;
  background-size: contain;
  margin-right: 10px;
}
